.accordion {
    border: solid 2px $primary;
    border-radius: $br-lg;
    width: 100%;
    overflow: hidden;
    box-shadow: $bs-card;

    &__button {
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    &__button-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        background: $neutral--ltst;
        cursor: pointer;
        border-bottom: 1px solid $primary;

        &::after {
            content: "\276F";
            text-align: center;
            transition: all $a-short;
        }
    }

    &__content {
        max-height: 0;
        padding: 0 0.5rem;
        background: $neutral--lt;
        transition: all $a-long;
        border-bottom: 1px solid $primary;

        .toggle-checkboxes {
            padding: 0.5rem 0;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    input:checked {
        + .accordion__button-label {
            &::after {
                transform: rotate(90deg);
                transform-origin: center;
            }
        }

        ~ .accordion__content {
            max-height: 1000px;
        }
    }
}