.accordion {
    border: solid 2px black;
    width: 100%;
    margin-bottom: 100px;

    &__button {
        width: 100%;
        border-bottom: solid 2px black;
        overflow: hidden;
        box-sizing: border-box;

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__button-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        background: white;
        cursor: pointer;
        border-bottom: 1px solid black;

        &::after {
            content: "\276F";
            text-align: center;
            transition: all $a-short;
        }
    }

    &__content {
        max-height: 0;
        padding: 0 0.5rem;
        background: white;
        transition: all $a-short;
    }

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    input:checked {
        + .accordion__button-label {
            // background: darken(blue, 10%);

            &::after {
                transform: rotate(90deg);
                transform-origin: center;
            }
        }

        ~ .accordion__content {
            max-height: 100vh;
        }
    }
}