.btn {
    border: 2px black solid;
    border-radius: 25px;
    background: white;
    font-size: 1rem;
    text-align: center;
    width: fit-content;
    min-width: 125px;
    margin: 0.25rem;
    padding: 0.5rem!important;
    line-height: 1.5rem;

    &--sm {
        padding: 0.25rem!important;
        min-width: 75px;
    }
}

.btn-plus-minus {
    width: 100%;
    display: flex;
    justify-content: center;

    &__btn {
        outline: 2px black solid;
        border-radius: 20px;

        & .icon {
            border: none;
            background: lightgrey;
            margin: 0;
        }
    }

    &__num {
        width: 25px;
        font-size: 1rem;
        text-align: center;
        border: none;

        &:focus-visible {
            outline: none;
        }
    }
}

.btn-add-remove {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}