.btn, input[type="submit"].btn {
    font-family: $f-primary;
    border: 2px $neutral--ltst solid;
    border-radius: 25px;
    background: $primary;
    color: $neutral--ltst;
    font-size: 1rem;
    width: fit-content;
    min-width: 125px;
    margin: 0.25rem;
    padding: 0.5rem!important;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $a-medium;

    &--sm {
        padding: 0.25rem 0.5rem !important;
        min-width: 75px;
    }

    &:hover {
        transform: $a-scale-md;
    }
}

.btn input {
    font-family: $f-primary;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
    border: none;
    background: none;
}

.btn input[type="submit"] {
    color: $neutral--ltst;
}

.btn-plus-minus {
    width: 100%;
    display: flex;
    justify-content: center;

    &__btn {
        outline: 2px $primary solid;
        background: $neutral--ltst;
        border-radius: 20px;

        & .icon {
            border: none;
            background: $primary;
            color: $neutral--ltst;
            margin: 0;
        }
    }

    &__num {
        background: $neutral--ltst;
        width: 25px;
        font-size: 1rem;
        text-align: center;
        border: none!important;
        padding: 0.25rem!important;

        &:focus-visible {
            outline: none;
        }
    }
}

.btn-add-remove {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.btn-submit {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 0;
    width: min-content;
    cursor: pointer;
}