.form {
    display: flex;
    flex-wrap: wrap;

    &__row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        width: 100%;
        margin-bottom: 0.5rem;

        &--50 {
            width: 50%;
        }

        &--center {
            text-align: center;
            align-items: center;
        }

        &--has-subs {
            flex-direction: row;
            justify-content: space-between;

            & .btn-add-remove {
                width: 100%;
            }
        }

        & label {
            font-size: 1rem;
            padding: 0.5rem;
            padding-bottom: 0;
        }

        & input {
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: $br-sm;
            border: 2px solid $neutral--drk;

            &:focus-visible {
                border: 2px solid $primary;
            }
        }

        & select {
            font-size: 1rem;
            padding: 0.5rem;
            border-radius: $br-sm;
            border: 2px solid $neutral--drk;

            &:focus-visible {
                border: 2px solid $primary;
            }
        }
    }

    &--row {
        flex-direction: row;
        align-items: center;
    }

    &--center {
        justify-content: center;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        margin-top: 0.25rem;

        &--subrow {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__subrow-grow {
        flex-grow: 1;
    }

    &__subrow {
        width: 100%;

        &--20 {
            width: 20%;
        }

        &--50 {
            width: 50%;
        }

        & input {
            width: 100%;
        }

        & input[type=number] {
            width: calc(100% - 12px);
        }

        & select {
            width: 100%;
        }
    }

    &__title-w-icons {
        display: flex;
        align-items: center;

        & .icon {
            margin-left: 0;
        }
    }
}