.icon {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 0.5rem;
    transition: $a-short;
    cursor: pointer;

    background: $neutral--ltst;
    border: solid 2px $primary;
    border-radius: 50%;
    color: $primary;

    &--no-m {
        margin: 0;
    }

    &--no-ml {
        margin-left: 0;
    }

    &--no-mr {
        margin-right: 0;
    }

    &--no-border {
        border: none;
    }

    &--no-size {
        width: auto;
        height: auto;
    }

    &--no-hover {
        cursor: initial;
    }

    svg {
        height: 16px;
        width: 16px;
        fill: $neutral--ltst;
    }

    &--secondary {
        background: $neutral--ltst;
        border-color: $secondary;
        color: $secondary;

        svg {
            fill: $secondary;
        }
    }
}

.icon.icon--active, .icon:hover, .icon:focus {
    background: $primary;
    border-color: $primary;
    color: $neutral--ltst;

    svg {
        fill: $neutral--ltst;
    }
}

.icon--no-hover.icon--active, .icon--no-hover:hover, .icon--no-hover:focus {
    background: $neutral--ltst;
    border-color: $primary;
    color: $primary;

    svg {
        fill: $primary;
    }
}

.icon--secondary.icon--active, .icon--secondary:hover, .icon--secondary:focus {
    background: $secondary;
    border-color: $secondary;
    color: $neutral--ltst;

    svg {
        fill: $neutral--ltst;
    }
}