.recipe-tile {
    width: 48vw;
    margin-bottom: 1.5vw;
    position: relative;
    transition: $a-medium;

    & .recipe-image__icons {
        justify-content: space-between;
    }

    &__name {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding: 0.5rem;
        background: rgba($neutral--drkst, 0.6);
        border-bottom-left-radius: $br-lg;
        border-bottom-right-radius: $br-lg;

        & h4 {
            line-height: 1.25rem;
            color: $neutral--ltst;
        }
    }

    &:hover {
        transform: $a-scale;
    }
}