.recipe-image {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: $br-lg;
    box-shadow: $bs-card;

    &__container {
        padding-bottom: 100%;
        position: relative;
    }

    &--full {
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        & .recipe-image__container {
            padding-bottom: 50%;
        }
    }

    &__icons {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        & .icon {
            margin: 0.25rem;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}