// Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

//  Colours
$neutral--ltst: #f7f7f2;
// $neutral--lt: #;
// $neutral--md: #;
// $neutral--drk: #;
$neutral--drkst: #282828;

// $primary--lt: #;
// $primary--md: #;
// $primary--drk: #;

// $secondary--lt: #;
// $secondary--md: #;
// $secondary--drk: #;

// Box shadows

// Fonts
$f-primary: 'Poppins', sans-serif;

// Font Weights
$f-skinny: 200;
$f-semiskinny: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;

// Border radii
$br-sm: 5px;

// Animation Transition
$a-short: .3s;
$a-medium: .6s;
$a-long: 1s;

// Animations

// Header heights

// Footer heights

// Section padding
$p-mobile: 0 0 35px 0;

// Z-indicies