{% set active_page = 'browse_recipe' %}
{% extends "pages/base/base.html" %}

{% block extra_title %} | Browse{% endblock %}

{% block content %}
    <!-- Header -->
    {% with header_text="Browse Recipes" %}
        {% include 'components/header.html' %}
    {% endwith %}

    <section class="browse-recipe">
        <div class="browse-recipe__container">
            <form class="form" action="{{ url_for('search') }}" method="POST">
                <div class="form__row">
                    <input type="text" name="query" id="query" placeholder="Search for a recipe!">
                </div>
                <button class="btn-submit" type="submit"><i class="fas fa-search icon"></i></button>
                <a class="btn-submit" href="/browse">
                    <i class="fas fa-redo-alt icon"></i>
                </a>
            </form>
            {% for rec in recs %}
                {% with recipe_id=rec._id, recipe_name=rec.name, recipe_image=rec.image %}
                    {% include 'components/recipe-image-tile.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    </section>
{% endblock %}