{% set active_page = 'login' %}
{% extends "pages/base/base.html" %}

{% block extra_title %} | Login{% endblock %}

{% block content %}
    <section class="login">
        <div class="login__container">
            <form class="form" method="POST" action="{{ url_for('login') }}">
                <!-- Username -->
                <div class="form__row">
                    <h4>Username:</h4>
                    <input type="text" name="username">
                </div>
    
                <!-- Password -->
                <div class="form__row">
                    <h4>Password:</h4>
                    <input type="text" name="password">
                </div>
    
                <!-- Login -->
                <div class="form__row form__row--center">
                    <input class="btn" type="submit" value="Login">
                </div>

                <!-- Sign up -->
                <div class="form__row form__row--center">
                    <a href="{{ url_for('signup') }}">Sign up</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}