.browse-recipe {
    &__container {
        @include containerFullNoGutters();

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__form {
        @include containerFull();
    }

    &__no-results {
        padding: 35px;
        text-align: center;
    }

    &__modal-buttons {
        position: fixed;
        top: 16vh;
        right: 35px;
    }
}