.browse-recipe {
    &__container {
        @include containerFullNoGutters();

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__form {
        @include containerFull();
    }
}