.view-recipe {
    &__container {
        @include containerFull();
    }

    &__notes {
        border: white 2px solid;
        box-sizing: border-box;
    }

    &__note {
        font-style: italic;
    }
}
