.view-recipe {
    margin-top: -1.5vw;

    &__container {
        @include containerFull();
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    &__note {
        font-style: italic;
    }
}
