// Global
@import "mixins";
@import "config";

// Components
@import "components";
@import "pages";

html {
    font-size: 16px;
    font-family: $f-primary;
    background: white;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    h1 {
        @include t_h1();
    }

    h2 {
        @include t_h2();
    }

    h3 {
        @include t_h3();
    }

    h4 {
        @include t_h4();
    }

    h5 {
        @include t_h5();
    }

    h6 {
        @include t_h6();
    }

    p {
        @include t_p();
    }

    a {
        @include t_a();
    }

    ol {
        margin: 0;
        padding-left: 1.25rem;

        li {
            @include t_li();
        }
    }

    ul {
        margin: 0;
        padding-left: 1.25rem;

        li {
            @include t_li();
        }
    }
}

.spacer {
    padding: $p-mobile;
}

.hide {
    display: none;
}