<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <script src="https://kit.fontawesome.com/5d2dff5442.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bundle.css') }}">
    
    <!-- JS -->
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>

    <title>Crockpot{% block extra_title %}{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}

    <!-- Bottom navbar -->
    {% if (active_page != 'login') and (active_page != 'signup') %}
        {% include 'components/navbar.html' %}
    {% endif %}
</body>
</html>