<header class="header">
    <div class="header__container">
        <div class="header__text">
            <div class="header__text-title">
                <h1>{{ header_text }}</h1>
            </div>
            {% if active_page == 'view_recipe' %}
            <div class="header__text-subtitle">
                <div class="header__text-user">
                    <h4>By {{ header_user }}</h4>
                </div>
                <div class="header__text-time">
                    <i class="fas fa-clock icon icon--no-border icon--no-size"></i>
                    <h4>{{ header_time }} mins</h4>
                </div>
            </div>
            {% endif %}
        </div>
        {% if session.user %}
            <a class="header__icon" href="{{ url_for('logout') }}">
                Log out
            </a>
        {% else %}
            <a class="header__icon" href="{{ url_for('login') }}">
                Log in
            </a>
        {% endif %}
    </div>
</header>
<div class="header__spacer"></div>