<nav class="navbar">
    <a class="navbar__link-wrapper" href="#">
        <div class="navbar__link">
            <i class="fas fa-search icon"></i>
            <h6>Browse</h6>
        </div>
    </a>
    <a class="navbar__link-wrapper" href="#">
        <div class="navbar__link">
            <i class="fas fa-book icon"></i>
            <h6>Cookbook</h6>
        </div>
    </a>
    <a class="navbar__link-wrapper" href="#">
        <div class="navbar__link">
            <i class="fas fa-utensils icon"></i>
            <h6>Menu</h6>
        </div>
    </a>
    <a class="navbar__link-wrapper" href="#">
        <div class="navbar__link">
            <i class="fas fa-list-ul icon"></i>
            <h6>Shopping</h6>
        </div>
    </a>
</nav>