<div class="spacer"></div>
<div class="navbar__spacer"></div>
<nav class="navbar">
    <a class="navbar__link-wrapper" href="{{ url_for('addRecipe') }}">
        <div class="navbar__link">
            <i class="fas fa-plus icon"></i>
            <h6>Add Recipe</h6>
        </div>
    </a>
    <a class="navbar__link-wrapper" href="{{ url_for('browse') }}">
        <div class="navbar__link">
            <i class="fas fa-search icon"></i>
            <h6>Browse</h6>
        </div>
    </a>
    <a class="navbar__link-wrapper" href="#">
        <div class="navbar__link">
            <i class="fas fa-book icon"></i>
            <h6>Cookbook</h6>
        </div>
    </a>
    <a class="navbar__link-wrapper" href="{{ url_for('menu') }}">
        <div class="navbar__link">
            <i class="fas fa-utensils icon"></i>
            <h6>Menu</h6>
        </div>
    </a>
</nav>