<div class="recipe-image recipe-image--full">
    <div class="recipe-image__container">
        <div class="recipe-image__icons">
            <i class="fas fa-utensils icon"></i>
            <i class="fas fa-heart icon"></i>
            <i class="fas fa-edit icon"></i>
            <div class="recipe-image__link-wrapper modal__buttons modal__buttons--delete-recipe">
                <i class="fas fa-trash icon modal__button--open modal__button--open--delete-recipe"></i>
            </div>
        </div>
        <div class="recipe-image__img">
            <img src="{{ recipe_image }}" alt="">
        </div>
    </div>
</div>