<a href="/viewRecipe/{{recipe_id}}" class="recipe-tile-wrapper">
    <div class="recipe-tile">
        <div class="recipe-image">
            <div class="recipe-image__container">
                <div class="recipe-image__icons">
                    <form class="recipe-image__link-wrapper" action="/menu/{{recipe_id}}">
                        <button class="btn-submit" type="submit">
                            <i class="fas fa-utensils icon"></i>
                        </button>
                    </form>
                    <form class="recipe-image__link-wrapper" action="/fav/{{recipe_id}}">
                        <button class="btn-submit" type="submit">
                            <i class="fas fa-heart icon"></i>
                        </button>
                    </form>
                </div>
                <div class="recipe-image__img">
                    <img src="{{ recipe_image }}" alt="">
                </div>
            </div>
        </div>
        <div class="recipe-tile__name">
            <h4>{{ recipe_name }}</h4>
        </div>
    </div>
</a>