<div class="toggle-box">
    <div class="toggle-box__container">
        <div class="toggle-box__toggle">
            <input class="toggle-box__toggle-input toggle-box__toggle-input--1" type="radio" name="toggle-box__toggle-option" id="toggle-box__toggle-option--1" checked="checked">
            <label class="toggle-box__toggle-option toggle-box__toggle-option--1" for="toggle-box__toggle-option--1">Ingredients</label>
            <input class="toggle-box__toggle-input toggle-box__toggle-input--2" type="radio" name="toggle-box__toggle-option" id="toggle-box__toggle-option--2">
            <label class="toggle-box__toggle-option toggle-box__toggle-option--2" for="toggle-box__toggle-option--2">Instructions</label>
            <span class="toggle-box__toggle-slider"></span>
        </div>
        <div class="toggle-box__box">
            <div class="toggle-box__box-left">
                Box left
            </div>
            <div class="toggle-box__box-right">
                Box right
            </div>
        </div>
    </div>
</div>
