<div class="toggle-box">
    <div class="toggle-box__container">
        <div class="toggle toggle-box__toggle">
            <input class="toggle__input toggle__input--1" type="radio" name="toggle__{{ option1_title }}{{ option2_title }}" id="toggle__{{ option1_title }}{{ option2_title }}__{{ option1_title }}" checked="checked">
            <label class="toggle__option toggle__option--1" for="toggle__{{ option1_title }}{{ option2_title }}__{{ option1_title }}">{{ option1_title }}</label>
            <input class="toggle__input toggle__input--2" type="radio" name="toggle__{{ option1_title }}{{ option2_title }}" id="toggle__{{ option1_title }}{{ option2_title }}__{{ option2_title }}">
            <label class="toggle__option toggle__option--2" for="toggle__{{ option1_title }}{{ option2_title }}__{{ option2_title }}">{{ option2_title }}</label>
            <span class="toggle__slider"></span>
        </div>
        <div class="toggle-box__box">
            <div class="toggle-box__box-left">
                <ul>
                    {% for item in option1_content %}
                        {% if item.length %}
                            <li>{{ item }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="toggle-box__box-right hide">
                <ol>
                    {% for item in option2_content %}
                        {% if item.length %}
                            <li>{{ item }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
