{% set active_page = 'signup' %}
{% extends "pages/base/base.html" %}

{% block extra_title %} | Signup{% endblock %}

{% block content %}
    <section class="signup">
        <div class="signup__container">
            <form class="form" method="POST" action="{{ url_for('signup') }}">
                <!-- Username -->
                <div class="form__row">
                    <h4>Username:</h4>
                    <input type="text" name="username">
                </div>

                <!-- Password -->
                <div class="form__row">
                    <h4>Password:</h4>
                    <input type="text" name="password">
                </div>

                <!-- Sign up -->
                <div class="form__row form__row--center">
                    <input class="btn" type="submit" value="Sign up">
                </div>

                <!-- Login -->
                <div class="form__row form__row--center">
                    <a class="link" href="{{ url_for('login') }}">Login</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}