{% set active_page = 'menu' %}
{% extends "pages/base/base.html" %}

{% block extra_title %} | Menu{% endblock %}

{% block content %}
    <!-- Header -->
    {% with header_text="Menu" %}
        {% include 'components/header.html' %}
    {% endwith %}

    <section class="menu">
        <div class="menu__container">
            <div class="spacer"></div>
            <div class="toggle-box toggle-box--no-border">
                <div class="toggle-box__container">
                    <div class="toggle toggle--rounded toggle--border toggle-box__toggle">
                        <input class="toggle__input toggle__input--1" type="radio" name="toggle__MenuShopping" id="toggle__MenuShopping__Menu" checked="checked">
                        <label class="toggle__option toggle__option--1" for="toggle__MenuShopping__Menu">Menu</label>
                        <input class="toggle__input toggle__input--2" type="radio" name="toggle__MenuShopping" id="toggle__MenuShopping__Shopping">
                        <label class="toggle__option toggle__option--2" for="toggle__MenuShopping__Shopping">Shopping List</label>
                        <span class="toggle__slider"></span>
                    </div>
                    <div class="toggle-box__box">
                        <div class="toggle-box__box-left">
                            <!-- Show recipes on menu -->
                            {% for menuRec in menuRecs %}
                            <a href="/viewRecipe/{{menuRec[0]}}" class="menu__item-wrapper">
                                <div class="menu__item">
                                    <div class="menu__item-image-wrapper">
                                        <div class="menu__item-image">
                                            <img src="{{ menuRec[2] }}" alt="">
                                        </div>
                                    </div>
                                    <div class="menu__item-content-wrapper">
                                        <div class="menu__item-name">
                                            <h2>{{ menuRec[1] }}</h2>
                                        </div>
                                        <div class="menu__item-icons">
                                            <div class="menu__item-serving">
                                                {% with btn_start="1", btn_step="1", btn_min="1", btn_max="20" %}
                                                    {% include 'components/btn-plus-minus.html' %}
                                                {% endwith %}
                                            </div>
                                            <form class="recipe-image__link-wrapper" action="/menu/{{menuRec[0]}}">
                                                <button class="recipe-image__link-submit" type="submit">
                                                    <i class="fas fa-utensils icon"></i>
                                                </button>
                                            </form>
                                            <form class="recipe-image__link-wrapper" action="/fav/{{menuRec[0]}}">
                                                <button class="recipe-image__link-submit" type="submit">
                                                    <i class="fas fa-heart icon"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                        <div class="toggle-box__box-right hide">
                            Shopping list
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}