{% set active_page = 'view_recipe' %}
{% extends "pages/base/base.html" %}

{% block extra_title %} | View Recipe{% endblock %}

{% block content %}
    <!-- Header -->
    {% with header_text=recipe.name, header_time=recipe.time %}
        {% include 'components/header.html' %}
    {% endwith %}

    <section class="view-recipe">
        <div class="view-recipe__container">
            <!-- Recipe image -->
            {% with recipe_image=recipe.image %}
                {% include 'components/recipe-image-full.html' %}
            {% endwith %}
            <div class="spacer"></div>
            <!-- Servings button -->

            <!-- Ingredients/instructions -->
            {% include 'components/toggle-box.html' %}
            <!-- Recipe notes -->
            <div class="view-recipe__notes-wrapper">
                <ul class="view-recipe__notes">
                {% for note in recipe.notes %}
                    <li class="view-recipe__note">{{ note }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}