{% set active_page = 'view_recipe' %}
{% extends "pages/base/base.html" %}

{% block extra_title %} | View Recipe{% endblock %}

{% block content %}
    <!-- Header -->
    {% with header_text=rec.name, header_time=rec.time %}
        {% include 'components/header.html' %}
    {% endwith %}

    <section class="view-recipe">
        <div class="view-recipe__container">
            <!-- Recipe image -->
            {% with recipe_image=rec.image %}
                {% include 'components/recipe-image-full.html' %}
            {% endwith %}
            <div class="spacer"></div>

            <!-- Meal categories -->
            <div class="view-recipe__categories">
                {% for cat in recCats %}
                    <div class="text-bubble">{{ cat }}</div>
                {% endfor %}
            </div>
            <div class="spacer"></div>

            <!-- Servings button -->
            {% include 'components/btn-plus-minus.html' %}
            <div class="spacer"></div>

            <!-- Ingredients/instructions -->
            <div class="toggle-box">
                <div class="toggle-box__container">
                    <div class="toggle toggle-box__toggle">
                        <input class="toggle__input toggle__input--1" type="radio" name="toggle__IngredientsInstructions" id="toggle__IngredientsInstructions__Ingredients" checked="checked">
                        <label class="toggle__option toggle__option--1" for="toggle__IngredientsInstructions__Ingredients">Ingredients</label>
                        <input class="toggle__input toggle__input--2" type="radio" name="toggle__IngredientsInstructions" id="toggle__IngredientsInstructions__Instructions">
                        <label class="toggle__option toggle__option--2" for="toggle__IngredientsInstructions__Instructions">Instructions</label>
                        <span class="toggle__slider"></span>
                    </div>
                    <div class="toggle-box__box">
                        <div class="toggle-box__box-left">
                            <ul>
                                {% for ing in ings %}
                                    <li>{{ ing[0] }} x <span class="btn-plus-minus__targetNum">{{ ing[1] }}</span>{{ ing[2] }}<span class="btn-plus-minus__ingNum hide">{{ ing[1] }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="toggle-box__box-right hide">
                            <ol>
                                {% for instruction in rec.instructions %}
                                    <li>{{ instruction }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recipe notes -->
            <div class="view-recipe__notes-wrapper">
                <ul class="view-recipe__notes">
                {% for note in rec.notes %}
                    <li class="view-recipe__note">{{ note }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="spacer"></div>

        </div>
    </section>
{% endblock %}